/* .spinner-border {
    display: none;
    margin-top: 20px;
  } */
  
  .footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  